@import "tailwindcss";

@theme {
  --color-bg: #010725;
  --color-blue: #0328EE;
  --color-white: #FFFFFF;
  --color-dark-blue: #010D50;
  --color-hover-button: #031FB4;
  --color-default-button: #0328EE;
  --font-family: 'DM Sans';

}

@layer components {
  .nav_link {
    @apply text-[14px] font-medium hover:underline transition-all inline-block hidden md:block;
  }

  .btn_download {
    @apply hidden lg:block bg-blue rounded-full px-8 py-5 text-base/4 font-bold tracking-[1.6px] hover:bg-hover-button transition-colors duration-300;
  }


}

@layer utilities {
  .row {
    @apply flex items-center
  }

  .nav_container {
    @apply mx-auto flex items-center justify-between py-6
  }

  .social_icons {
    @apply bg-white/50 rounded-full w-9 h-9 flex items-center justify-center hover:bg-white/20 transition-all duration-300;
  }

  .social_icons img {
    @apply w-5 h-5;
  }
}

@layer base {
  body {
    color: var(--color-white);
    background-color: var(--color-bg);
    font-family: 'DM Sans';
  }

}